
<link rel="stylesheet" href="/stylesheets/forget_password.css" />
<div class="login">
  <div class="login__container">
    <div class="login__logo">
    </div>
    <div class="login__desc">
      <p style="color: royalblue; font-size: 25px">
        HandCrafted with ❤️ by
      </p>
      <h3>Sahil Sayyad</h3>
    </div>
    
      <div class="login__emailPass">
        <h4>Forget - Password</h4>
        <div class="login__inputFields">
          <form action="/users/forget-password-page" method="post">
            <div class="login__inputField">
              <input type="email" name="email" placeholder="Email" required/>
            </div>
            <div class="login__inputField">
              <input type="password" name="password" placeholder="Password" required/>
            </div>
            <div class="login__inputField">
                <input type="password" name="confirm_password" placeholder="Confirm Password" required/>
              </div>

            <div class="login__forgButt">
                <button type="submit">Forget Password</button>
            </div>
          </form>
          <div class="login__forgButt Login">
              <button><a href="/users/sign-in">Home</a></button>
          </div>
    </div>
      </div>
    </div>
  </div>
</div>
